@using System.Globalization;
@using System.Collections;
@using System.Linq;

<div class="row">
  <div class="twelve columns artikelcontainer">
    <div class="twelve columns artikel">
      <h3>Memoriseren</h3>
      <p>Vanuit klein groepje is het idee ontstaan om op weekbasis samen een tekst te memoriseren.</p>

      <p>De bijbel zegt in dat we Gods woorden in ons hart en in onze gedachten moeten houden en dat we ze onze kinderen in moeten prenten!</p>

      <blockquote>
        <p>
          6 Houd de geboden die ik u vandaag opleg steeds in gedachten. 7 Prent ze uw kinderen in en spreek er steeds over, thuis en onderweg, als u naar bed gaat en als u opstaat. 
          <strong>Deut 6:6,7</strong>
        </p>
      </blockquote>

      <p>
        Maar doen we dat voor onszelf nog wel? Tijdens een preek werd verteld over de vervolgede kerk dat als ze geen bijbel hebben
       dat Gods woord in hun hart mocht zijn. Als wij in die omstandigheden zou zijn, hoe goed zou Gods woord in ons hoofd geprent zijn? 
      God liet Ezechiël zijn zelfs zijn woord eten om ze vervolgens te kunnen gebruiken om tegen het volk te kunnen spreken. 
      Kunnen wij op die manier Gods woord spreken in gesprekken met mensen om ons heen?
      </p>

      <blockquote>
        <p>
          Daarna zeide Hij tot mij: Mensenkind, eet, wat gij vinden zult; eet deze rol, en ga, spreek tot het huis Israels. Toen opende ik mijn mond, en Hij gaf mij die rol te eten. En Hij zeide tot mij: Mensenkind, geef uw buik te eten, en vul uw ingewand met deze rol, die Ik u geef. Toen at ik, en het was in mijn mond als honig, vanwege de zoetigheid.En Hij zeide tot mij: Mensenkind, ga henen, kom tot het huis Israels, en spreek tot hen met Mijn woorden. 
          <strong>Ez 3:1-4</strong>
        </p>

      </blockquote>

      <blockquote>
        <p>
          Gods woord is een levend woord dat krachtiger is dan een tweesnijdend zwaard, dat diep doordringt waar onze geest en ziel, 
          been en merg elkaar raken en is instaat de opvattingen en gedachten van het hart te ontleden.
          <strong>Heb 4:12</strong>
        </p>
      </blockquote>

      <p>Gods woord is ons wapen om te gebruiken in de strijd tegen de boze.</p>

      <p>Laten we net als Jeremia en als de opdracht die God ons geeft om Zijn woord in gedachten te hebben en het onze kinderen in te prenten, 
  vooral ook  bij onszelf beginnen en laten we Gods woord gaan memoriseren zodat we het ook kunnen gebruiken en het laten werken in ons leven.</p>

      <p>
        Wat is het idee? Voor nu gewoon beginnen met een tekst per week te memoriseren. 
        Het is fijn om met elkaar en per week dezelfde tekst te leren maar doe dit vooral uit de vertaling die jij het fijnst vind om te gebruiken.
      </p>

      <p> Wil je mee doen? Of ken je mensen die wellicht mee willen doen?
          Stuur dan een mail naar <a href="mailto:info@dereddingsark.nl">info@dereddingsark.nl</a>, dan blijf je op de hoogte van het schema.
          Er is ook een Whats-App groep. Wil je daar ook bij? Geef dan ook je 06-nummer door.
      </p>

      <p>Heb je een iPhone? Een goed hulpmiddel is <a href="https://itunes.apple.com/us/app/memorise/id480056494?mt=8" target="_blank">memoRISE</a>.</p>

      <p><strong>Het rooster is</strong></p>

      <ul>
        <li>week 32, Efe 2:4-5</li>
        <li>week 31, Romeinen 8: 38-39</li>
        <li>week 30, Fil 2: 5</li>
        <li>week 29, Spreuken 3:5-6</li>
        <li>week 28, Jesaja 51:12-13a</li>
        <li>week 27, <a href="http://www.biblija.net/biblija.cgi?m=Heb+13%3A+5%2C6&id42=1&id18=1&id47=1&id16=1&l=nl&set=10">Hebr 13:5,6 (herhaal 2 Petrus 3:13)</a></li>
        <li>week 26, <a href="http://www.biblija.net/biblija.cgi?m=1+Joh+4%3A+16&id42=1&id18=1&id47=1&id16=1&l=nl&set=10">1 Joh 4:16 (herhaal Jesaja 30:15)</a></li>
        <li>week 25, <a href="http://www.biblija.net/biblija.cgi?m=2+Tim+1%3A+7&id42=1&id18=1&id47=1&id16=1&l=nl&set=10">2 Tim 1:7</a></li>
        <li>week 24, <a href="http://www.biblija.net/biblija.cgi?m=2+Petrus+3%3A+13&id42=1&id18=1&id47=1&id16=1&l=nl&set=10">2 Petrus 3: 13</a></li>
        <li>week 23, <a href="http://www.biblija.net/biblija.cgi?m=Romeinen+12%3A+2&id42=1&id18=1&id47=1&id16=1&l=nl&set=10">Romeinen 12: 2</a></li>
        <li>week 22, <a href="http://www.biblija.net/biblija.cgi?m=Jesaja+30%3A15&id42=1&id18=1&id47=1&id16=1&l=nl&set=10">Jesaja 30:15</a></li>
      </ul>

    </div>
  </div>
</div>
