@{
  ViewBag.Title = "Kies een wachtwoord";
}

<div class="row">
  <div class="six columns">

    <p>Kies een wachtwoord. Hierna moet u nog wel inloggen op de website.</p>

    <form method="post" action="@Url.Action("StoreUpdate", "User")">
      <input type="password" name="password" placeholder="nieuw wachtwoord"></input>
      <input type="password" name="password2" placeholder="herhaal wachtwoord"></input>
      <input type="submit" class="secondary small button" value="verander wachtwoord" />
      <input type="hidden" name="referrer" value="@Url.Action("Show", "Index")" />
      <input type="hidden" name="token" value="@ViewBag.Token"></input>
    </form>

    @if(!string.IsNullOrEmpty(ViewBag.Message as string))
    {
      <span class="error message">@ViewBag.Message</span>
    }

  </div>
</div>
