<p style="color: #555; font-size: 15px; padding: 10px;">
  @ViewBag.Message;
</p>

<p style="color: #555; font-size: 15px; font-weight: bolder; margin-top: 20px; padding: 10px;">
  namens @ViewBag.FromName (@ViewBag.FromAddress)
</p>