<p style="color: #555; font-size: 15px; padding: 10px;">
  De volgende e-mailadressen konden niet worden aangemaakt als gebruikers:
</p>

<p style="color: #555; font-size: 15px; font-weight: bolder; margin-top: 20px; padding: 10px;">
  @ViewBag.FailedEmails
</p>