<p style="color: #555; font-size: 15px; font-weight: bolder; padding: 10px;">
  Beste @ViewBag.Naam
</p>

<p style="color: #555; font-size: 15px; padding: 10px; margin-top: 20px;">
  Er is een nieuw wachtwoord voor <a href="http://www.dereddingsark.nl" style="color:#555;">de website van Evangeliegemeente De Reddingsark</a>
  aangevraagd. U kunt uw wachtwoord op de volgende pagina opnieuw instellen: <br />
  <br />
  <a href="@ViewBag.ResetUrl" style="color:#555;">@ViewBag.ResetUrl</a>
</p>

<p style="color: #555; font-size: 15px; margin-top: 20px; padding: 10px;">
  Heeft u geen nieuw wachtwoord aangevraagd? Dan kunt u dit e-mailbericht als niet verzonden beschouwen.
</p>

<p style="color: #555; font-size: 15px; font-weight: bolder; margin-top: 20px; padding: 10px;">
  Evangeliegemeente De Reddingsark
</p>