<p style="color: #555; font-size: 15px; font-weight: bolder; padding: 10px;">
  Beste @ViewBag.Naam
</p>

<p style="color: #555; font-size: 15px; padding: 10px; margin-top: 20px;">
  U heeft een account gekregen voor <a href="http://www.dereddingsark.nl" style="color:#555;">de website van Evangeliegemeente De Reddingsark</a>. 
  Voordat u hier gebruik van kunt maken zult u eerst een <b>nieuw</b> wachtwoord moeten instellen. Dat kan via het volgende adres: <br />
  <br />
  <a href="@ViewBag.ResetUrl" style="color:#555;">@ViewBag.ResetUrl</a>
</p>

<p style="color: #555; font-size: 15px; margin-top: 20px; padding: 10px;">
  Nadat u dit gedaan heeft kunt u inloggen. Voor het inloggen gebruikt u het zelf ingestelde wachtwoord en uw e-mailadres: <strong>@ViewBag.Email</strong>. 
  Hierna krijgt dan een extra menu-optie: <i>gemeente</i>.
  Hier vindt u mededelingenbladen, contactbladen, foto's en de centrale agenda. 
  In de toekomst zal er hopelijk nog meer informatie beschikbaar komen.
  Heeft u ideeen? Wij horen het graag!
</p>

<p style="color: #555; font-size: 15px; margin-top: 20px; padding: 10px;">
  Via deze weg wijzen wij u er ook nog op dat wij graag op de hoogte worden gebracht van eventuele wijzigingen in gegevens
  zoals uw e-mailadres.
</p>

<p style="color: #555; font-size: 15px; font-weight: bolder; margin-top: 20px; padding: 10px;">
  Evangeliegemeente De Reddingsark
</p>