<form action="@Url.Action("Login", "Autorisatie")" method="post">
<p id="form-login-username">
  <label for="modlgn_username">
    E-mailadres</label>
  <br />
  <input type="text" name="emailadres" class="inputbox" title="e-mailadres"
    size="18" />
</p>
<p id="form-login-password">
  <label for="modlgn_passwd">
    Wachtwoord</label>
  <br />
  <input type="password" name="passwd" class="inputbox" size="18"
    title="Wachtwoord" />
</p>
<p id="form-login-remember">
  <label for="modlgn_remember">
    Onthouden?</label>
  <input type="checkbox" name="onthouden" class="inputbox" value="yes"
    title="Onthoud mij voor 4 weken" />
</p>
<input type="submit" name="Submit" class="button" value="Aanmelden" />
<input type="hidden" name="referrer" value="@Url.RouteUrl(this.ViewContext.RouteData.Values)" />
<ul>
  <li><a href="#">Wachtwoord vergeten?</a> </li>
</ul>
</form>