<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.dereddingsark.nl/</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://84.243.195.130/</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>deredding</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/dereddingsarknl.dll">
      <publishTime>07/08/2012 20:27:19</publishTime>
    </File>
    <File Include="bin/Google.GData.AccessControl.dll">
      <publishTime>07/07/2012 13:21:50</publishTime>
    </File>
    <File Include="bin/Google.GData.Calendar.dll">
      <publishTime>07/07/2012 13:21:50</publishTime>
    </File>
    <File Include="bin/Google.GData.Client.dll">
      <publishTime>07/07/2012 13:21:50</publishTime>
    </File>
    <File Include="bin/Google.GData.Extensions.dll">
      <publishTime>07/07/2012 13:21:50</publishTime>
    </File>
    <File Include="bin/Google.GData.Photos.dll">
      <publishTime>07/07/2012 13:25:16</publishTime>
    </File>
    <File Include="bin/MarkdownSharp.dll">
      <publishTime>04/13/2012 21:30:07</publishTime>
    </File>
    <File Include="bin/MarkdownSharp.xml">
      <publishTime>04/13/2012 21:30:07</publishTime>
    </File>
    <File Include="bin/MiniProfiler.dll">
      <publishTime>07/05/2012 20:26:52</publishTime>
    </File>
    <File Include="bin/MiniProfiler.xml">
      <publishTime>07/05/2012 20:26:52</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>07/07/2012 13:21:50</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>07/07/2012 13:21:50</publishTime>
    </File>
    <File Include="Content/app.css">
      <publishTime>07/08/2012 20:26:50</publishTime>
    </File>
    <File Include="Content/foundation.css">
      <publishTime>07/05/2012 21:14:43</publishTime>
    </File>
    <File Include="Content/ie.css">
      <publishTime>07/05/2012 20:29:54</publishTime>
    </File>
    <File Include="Content/Images/arrow-baarn.png">
      <publishTime>06/30/2012 13:53:04</publishTime>
    </File>
    <File Include="Content/Images/arrow-bunschoten.png">
      <publishTime>06/30/2012 13:32:40</publishTime>
    </File>
    <File Include="Content/Images/body_bg.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/cal.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/bullets.jpg">
      <publishTime>07/05/2012 20:30:02</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/left-arrow-small.png">
      <publishTime>07/05/2012 20:30:02</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/left-arrow.png">
      <publishTime>07/05/2012 20:30:03</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/loading.gif">
      <publishTime>07/05/2012 20:30:03</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/mask-black.png">
      <publishTime>07/05/2012 20:30:04</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/pause-black.png">
      <publishTime>07/05/2012 20:30:04</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/right-arrow-small.png">
      <publishTime>07/05/2012 20:30:05</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/right-arrow.png">
      <publishTime>07/05/2012 20:30:05</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/rotator-black.png">
      <publishTime>07/05/2012 20:30:05</publishTime>
    </File>
    <File Include="Content/Images/foundation/orbit/timer-black.png">
      <publishTime>07/05/2012 20:30:05</publishTime>
    </File>
    <File Include="Content/Images/header_bg.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/header_img_bg.png">
      <publishTime>04/14/2012 10:07:22</publishTime>
    </File>
    <File Include="Content/Images/icons.png">
      <publishTime>06/30/2012 18:23:31</publishTime>
    </File>
    <File Include="Content/Images/iconsbar.png">
      <publishTime>06/30/2012 18:45:43</publishTime>
    </File>
    <File Include="Content/Images/latest_h3.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/li.png">
      <publishTime>04/09/2012 14:03:20</publishTime>
    </File>
    <File Include="Content/Images/locaties.png">
      <publishTime>06/30/2012 12:59:55</publishTime>
    </File>
    <File Include="Content/Images/logo-small.png">
      <publishTime>06/28/2012 20:10:11</publishTime>
    </File>
    <File Include="Content/Images/logo.png">
      <publishTime>06/28/2012 20:07:53</publishTime>
    </File>
    <File Include="Content/Images/menu_bottom.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/menu_row.jpg">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/menu_top_out.jpg">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/news_separator.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/news_ul_li_bg.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/pathway_col_bg.jpg">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/pillmenu_bg.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/podcast.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/popular_h3.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/rss.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/twitter.png">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/Images/wrapper_t_l_bg.jpg">
      <publishTime>04/13/2012 21:11:30</publishTime>
    </File>
    <File Include="Content/index.html">
      <publishTime>07/05/2012 20:29:55</publishTime>
    </File>
    <File Include="Content/Photos/0.jpg">
      <publishTime>07/04/2012 20:50:29</publishTime>
    </File>
    <File Include="Content/Photos/1.jpg">
      <publishTime>06/30/2012 14:11:38</publishTime>
    </File>
    <File Include="Content/Photos/10.jpg">
      <publishTime>07/04/2012 20:48:13</publishTime>
    </File>
    <File Include="Content/Photos/2.jpg">
      <publishTime>07/04/2012 20:50:47</publishTime>
    </File>
    <File Include="Content/Photos/3.jpg">
      <publishTime>07/04/2012 20:50:13</publishTime>
    </File>
    <File Include="Content/Photos/4.jpg">
      <publishTime>07/04/2012 20:49:57</publishTime>
    </File>
    <File Include="Content/Photos/5.jpg">
      <publishTime>07/04/2012 20:48:37</publishTime>
    </File>
    <File Include="Content/Photos/6.jpg">
      <publishTime>07/04/2012 20:49:27</publishTime>
    </File>
    <File Include="Content/Photos/7.jpg">
      <publishTime>07/04/2012 20:49:42</publishTime>
    </File>
    <File Include="Content/Photos/8.jpg">
      <publishTime>07/04/2012 20:49:12</publishTime>
    </File>
    <File Include="Content/Photos/9.jpg">
      <publishTime>07/04/2012 20:48:55</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>04/14/2012 10:20:54</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>04/13/2012 20:59:53</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/07/2012 13:25:17</publishTime>
    </File>
    <File Include="Scripts/app.js">
      <publishTime>07/08/2012 20:22:58</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>07/05/2012 20:26:43</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>07/05/2012 20:26:43</publishTime>
    </File>
    <File Include="Scripts/jquery.customforms.js">
      <publishTime>07/05/2012 20:29:51</publishTime>
    </File>
    <File Include="Scripts/jquery.orbit-1.4.0.js">
      <publishTime>07/05/2012 20:29:52</publishTime>
    </File>
    <File Include="Scripts/jquery.placeholder.min.js">
      <publishTime>07/05/2012 20:29:52</publishTime>
    </File>
    <File Include="Scripts/jquery.reveal.js">
      <publishTime>07/05/2012 20:29:53</publishTime>
    </File>
    <File Include="Scripts/jquery.tooltips.js">
      <publishTime>07/05/2012 20:29:53</publishTime>
    </File>
    <File Include="Scripts/modernizr.foundation.js">
      <publishTime>07/05/2012 20:29:53</publishTime>
    </File>
    <File Include="Views/Activiteiten/Show.cshtml">
      <publishTime>07/05/2012 22:55:07</publishTime>
    </File>
    <File Include="Views/Agenda/Show.cshtml">
      <publishTime>07/08/2012 20:24:31</publishTime>
    </File>
    <File Include="Views/Foto/Show.cshtml">
      <publishTime>07/07/2012 22:45:27</publishTime>
    </File>
    <File Include="Views/Index/Show.cshtml">
      <publishTime>07/08/2012 19:15:32</publishTime>
    </File>
    <File Include="Views/OverOns/Show.cshtml">
      <publishTime>07/05/2012 22:20:45</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>04/13/2012 20:59:53</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>07/08/2012 14:57:58</publishTime>
    </File>
    <File Include="Views/Shared/_User.cshtml">
      <publishTime>04/14/2012 14:25:29</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>04/13/2012 20:50:35</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/13/2012 20:59:53</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/07/2012 22:19:29</publishTime>
    </File>
  </ItemGroup>
</Project>