@{
    ViewBag.Title = ViewBag.PageTitle + " | dereddingsark.nl";
}
<div class="nopad">
    @if (false)
    {
     <div class="nieuwsbericht" style="margin: 30px; background-color: #ccc;">
     </div>
    }
    <table class="blog" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <div>
                    <table class="contentpaneopen">
                        <tr>
                            <td class="contentheading" width="100%">
                                @ViewBag.PageTitle
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" colspan="2">
                                @Html.Raw(ViewBag.PageContent)
                            </td>
                        </tr>
                    </table>
                    <span class="article_separator">&nbsp;</span>
                </div>
            </td>
        </tr>
        @if (ViewBag.ShowMaps)
        {
        <tr>
            <td valign="top">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="top" width="100%" class="article_column">
                            <table class="contentpaneopen">
                                <tr>
                                    <td class="contentheading" width="100%">
                                        Adresgegevens
                                    </td>
                                </tr>
                            </table>
                            <table class="contentpaneopen">
                                <!---->
                                <!---->
                                <tr>
                                    <td valign="top" colspan="2">
                                        <table border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="vertical-align: top; width: 250px;">
                                                        <strong>Locatie Baarn</strong><br />
                                                        De Reddingsark<br />
                                                        Adelheidlaan 8<br />
                                                        3743 DH Baarn<br />
                                                        035-5413691
                                                    </td>
                                                    <td style="vertical-align: top">
                                                        <strong>Locatie Bunschoten</strong><br />
                                                        Oostwende College<br />
                                                        Plecht 1<br />
                                                        3751 WB Bunschoten<br />
                                                        06-22792464 (alleen op zondag)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=adelheidlaan+8,+baarn,+nederland&amp;sll=37.0625,-95.677068&amp;sspn=35.684144,62.050781&amp;ie=UTF8&amp;om=1&amp;ll=52.215969,5.27009&amp;spn=0.013489,0.030298&amp;z=15&amp;iwloc=addr"
                                                            target="_blank" title="Adelheidlaan via maps.google.com">plattegrond (google)</a><br />
                                                    </td>
                                                    <td>
                                                        <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=plecht+1,+bunschoten,+nederland&amp;sll=52.215969,5.27009&amp;sspn=0.013489,0.030298&amp;ie=UTF8&amp;ll=52.241861,5.373387&amp;spn=0.013481,0.030298&amp;z=15&amp;iwloc=addr&amp;om=1"
                                                            target="_blank" title="Farel college via maps.google.com">plattegrond (google)</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <span class="article_separator">&nbsp;</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        }
        <tr>
            <td valign="top" align="center">
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            </td>
        </tr>
    </table>
</div>
