@using System.Globalization;
@using System.Linq;

<div class="row studielist">
  <div class="twelve columns">

    <div class="twelve columns studies">
      <h3>
        Bijbelstudies uitgegeven door Stichting De Reddingsark
      </h3>

      <p>
        Hier vind u studies die door de Stichting De Reddingsark uitgegeven worden. Deze studies zijn door br. Joh. Braaksma gegeven.
        Indien een studie door iemand anders is gegeven staat dat bij de studie vermeld.
        Deze studies mogen vrij gebruikt worden. Als u deze studies op uw website wilt opnemen vragen we u dat te doen via een link, en niet door een kopie te maken.
      </p>

      <p>
        Nog niet alle studies zijn digitaal beschikbaar. Wij werken hieraan en hopen periodiek nieuwe studies beschikbaar te stellen.
        Wilt u hiervan op de hoogte gehouden worden? Stuur dan een bericht via het <a href="@Url.Action("Contact", "Index")">contactformulier</a>.
      </p>

      <p>
        U kunt de studies doorzoeken via Google. Gebruik daarvoor deze link: <a href="https://www.google.com/?q=site:www.dereddingsarkmedia.nl">zoeken via Google</a>.
        Door de zoekterm <strong>site:www.dereddingsarkmedia.nl</strong> zoekt u alleen binnen deze website. Let op, het kan zijn dat Google nog niet alle bestanden heeft opgenomen en dat u dus nog niet alles vindt.
      </p>

      <!-- serie de tabernakel-->
      <ul>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel1.pdf">De tabernakel, deel 1</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel2.pdf">De tabernakel, deel 2</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel3.pdf">De tabernakel, deel 3</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel4.pdf">De tabernakel, deel 4</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel5.pdf">De tabernakel, deel 5</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel6.pdf">De tabernakel, deel 6</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/tabernakel-deel7.pdf">De tabernakel, deel 7</a><span class="note">toegevoegd op 5 dec 2014</span>
        </li>
        <li>
        </li>
      </ul>

      <!-- dubbele studies -->
      <ul>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0002-het-koninkrijk-gods.pdf">Het Koninkrijk Gods.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/x0003-grote-verlossingsplan-gods.pdf">Het grote verlossingsplan Gods (deel I).</a><span class="note">toegevoegd op 5 mei 2015</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/x0004-grote-verlossingsplan-gods.pdf">Het grote verlossingsplan Gods (deel II).</a><span class="note">toegevoegd op 5 mei 2015</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/x0005-grote-verlossingsplan-gods.pdf">Het grote verlossingsplan Gods (deel III).</a><span class="note">toegevoegd op 5 mei 2015</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/x0006-grote-verlossingsplan-gods.pdf">Het grote verlossingsplan Gods (deel IV).</a><span class="note">toegevoegd op 5 mei 2015</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0007-het-verschil-tussen-de-komst-van-jezus-voor-de-gemeente.pdf">Het verschil tussen de komst van Jezus voor de Gemeente en de wederkomst van Jezus op aarde voor Israël en de volkeren.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0008-de-toebereiding-van-de-gemeente-in-deze-tijd-voor-jezus-komst.pdf">De toebereiding van de Gemeente in deze tijd voor Jezus' komst.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0013-de-ure-der-verzoeking.pdf">Openbaring 3 vers 10 en 11: De ure der verzoeking.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0019-het-leven-vervuld-met-de-heiligegeest.pdf">Het leven, vervuld met de Heilige Geest.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0020-het-voortgaande-herstel-van-israel-A.pdf">Het voortgaande herstel van Israël - deel A</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0020-het-voortgaande-herstel-van-israel-B.pdf">Het voortgaande herstel van Israël - deel B</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0020-het-voortgaande-herstel-van-israel-C.pdf">Het voortgaande herstel van Israël - deel C</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0020-het-voortgaande-herstel-van-israel-D.pdf">Het voortgaande herstel van Israël - deel D</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X0021-de-waarde-van-het-bloed-van-jezus.pdf">De waarde van het bloed van Jezus.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X00255-de-heilige-geest-A.pdf">De Heilige Geest: de duif. / De leiding v.d. H. Geest. - deel A (door br Wiebe Knecht)</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/X00255-de-heilige-geest-B.pdf">De Heilige Geest: de duif. / De leiding v.d. H. Geest. - deel B (door br Wiebe Knecht)</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
      </ul>

      <!-- enkele studies -->
      <ul>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/0001-god-redt-uit-alle-nood-door-gehoorzaamheid.pdf">God redt uit alle nood door gehoorzaamheid.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/0008-de-geestelijke-wapenrusting.pdf">De geestelijke wapenrusting.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/0031-het-teken-in-de-hemel.pdf">Het teken in de hemel, de vrouw, haar jongske en de draak.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/0043-elias-opname.pdf">Elia's opname.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/0082-de-geheimenissen-in-verband-met-de-opname-der-gemeente.pdf">De geheimenissen in verband met de opname der Gemeente.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
        <li>
          <a target="_blank" href="http://www.dereddingsarkmedia.nl/studies/0171-de-plaats-van-de-vrouw-in-de-gemeente.pdf">De plaats van de vrouw in de Gemeente v. Jezus Christus. - Psalm 8 en Gen. 1.</a><span class="note">toegevoegd op 5 okt 2014</span>
        </li>
      </ul>
    </div>
  </div>
</div>