/* icons van http://365psd.com/day/2-209/ */

/* new background-color FAF8E9 */
/* old background-color FAF8E9 */

body, html {
  background-color: #FAF8E9;
  color: #555;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  overflow-y: scroll;
}

.hidden {
    display: none;
}​

span.message, p.message {
  font-size: 15px;
  font-weight: bolder;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0px 20px 40px;
  margin-bottom: -30px;
}

.header.columns {
  background: url('images/logo-small.png') no-repeat 0px 20px;
  min-height: 90px;
}

  .header.columns a.logoplaceholder {
    display: block;
    position: absolute;
    height: 100px;
    width: 160px;
    margin-left: -20px;
  }

  .header.columns h2 {
    margin-left: 140px;
    font-weight: normal;
    font-size: 3.5rem;
    float: left;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .header.columns h5 {
    margin-left: 140px;
    float: left;
    margin-top: -5px;
    font-size: 1.7rem;
    font-weight: normal;
  }

.menu.columns .inloggen {
  background-color: #fff;
  color: #0A91A8;
  position: absolute;
  font-weight: bolder;
  padding: 8px;
  /*margin-top: -505px;*/
  right: 1px;
  top: 0px;
  -moz-box-shadow: 0px 3px 5px 0px #aaa;
  -webkit-box-shadow: 0px 3px 5px 0px #aaa;
  box-shadow: 0px 3px 5px 0px #aaa;
  z-index: 999;
  overflow: hidden;
  width: 80px;
  display: none;
}

  .menu.columns .inloggen.close {
    top: -600px;
  }

  .menu.columns .inloggen.open {
    display: block;
  }

  .menu.columns .inloggen.active.open {
    width: 230px;
  }

  .menu.columns .inloggen a, .menu.columns .inloggen a:visited, .menu.columns .inloggen a:active, .menu.columns .inloggen a:hover {
    color: #0A91A8;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .menu.columns .inloggen p {
    color: #555;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
  }

  .menu.columns .inloggen span.error {
    color: #f00;
  }

  .menu.columns .inloggen a.hidden {
    color: #fff;
    text-decoration: none;
  }

  .menu.columns .inloggen p.hidden {
    color: #fff;
  }

  .menu.columns .inloggen input.reset {
    margin-top: 10px;
  }

.menu.columns .gebruiker {
  background-color: #0A91A8;
  color: #fff;
  position: absolute;
  -moz-box-shadow: 3px 3px 5px 0px #aaa;
  -webkit-box-shadow: 3px 3px 5px 0px #aaa;
  box-shadow: 3px 3px 5px 0px #aaa;
  position: absolute;
  font-weight: bolder;
  padding: 8px;
  top: 0px;
  right: 1px;
  z-index: 999;
  overflow: hidden;
  width: 170px;
  border-bottom: solid 1px #fff;
}

  .menu.columns .gebruiker.close {
    top: -600px;
  }

  .menu.columns .gebruiker.open {
    display: block;
  }

  .menu.columns .gebruiker.active.open {
    width: 230px;
  }

  .menu.columns .gebruiker label {
    color: #fff;
  }

  .menu.columns .gebruiker a, .menu.columns .gebruiker a:visited, .menu.columns .gebruiker a:active, .menu.columns .gebruiker a:hover {
    color: #fff;
    text-decoration: none;
  }

    .menu.columns .gebruiker a.icon, .menu.columns .gebruiker a.icon:visited, .menu.columns .gebruiker a.icon:active, .menu.columns .gebruiker a.icon:hover {
      background: #0A91A8 url("images/iconsbar.png") 0px -307px no-repeat;
      padding-left: 30px;
      overflow: hidden;
      padding-top: 0px;
      vertical-align: bottom;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      width: 140px;
      white-space: nowrap;
      display: inline-block;
    }

.header.columns a, .header.columns a:visited, .header.columns a:active, .header.columns a:hover {
  color: #000;
  text-decoration: none;
}

.header.columns h3 {
  margin-left: 0px;
  float: left;
  margin-top: 20px;
  padding: 0px 20px 0px 250px;
  background-color: white;
  color: #0A91A8;
}

.menu.columns {
  padding: 0px;
}

.menu-small-screen {
  display: none;
}

.menu.columns ul {
  margin-top: 0px;
  float: left;
}

.menu.columns li {
  cursor: pointer;
  display: inline-block;
  margin: 0px 4px 10px 4px;
  font-weight: bold;
  -moz-box-shadow: 3px 3px 5px 0px #aaa;
  -webkit-box-shadow: 3px 3px 5px 0px #aaa;
  box-shadow: 3px 3px 5px 0px #aaa;
  padding: 40px 4px 4px 4px;
  color: #fff;
  background: #639ca5; /* Old browsers */
  background: -moz-linear-gradient(top, #639ca5 0%, #008fa5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#639ca5), color-stop(100%,#008fa5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #639ca5 0%,#008fa5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #639ca5 0%,#008fa5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #639ca5 0%,#008fa5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #639ca5 0%,#008fa5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#639ca5', endColorstr='#008fa5',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid #FAF8E9;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

  .menu.columns li:hover {
    padding-bottom: 8px;
    margin-bottom: 0px;
  }

  .menu.columns li.active {
    background: #fff;
    color: #639ca5;
    border-bottom: 1px solid #639ca5;
  }

  .menu.columns li a {
    color: #fff;
    font-size: 1.3rem;
  }

  .menu.columns li.active a {
    color: #639ca5;
  }

  .menu.columns li.overons {
  }

  .menu.columns li.activiteiten {
  }

  .menu.columns li.audio {
  }

  .menu.columns li.artikelen {
  }

  .menu.columns li.fotos {
  }

  .menu.columns li.inloggen {
  }

.row div.error {
  background-color: #fff;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
  padding: 20px;
}

  .row div.error p {
    margin: 0px;
  }

.banner {
  /*background-color: #fff;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;*/
  margin: 0px auto;
  padding: 20px 40px 20px;
}

  .banner.columns div {
    font-size: 2.5rem;
    line-height: 1.25;
    text-shadow: 1px 1px 1px #999;
    padding: 3px 0px;
  }

    .banner.columns div:first-child {
      margin-left: 230px;
    }

    .banner.columns div:nth-child(2) {
      margin-left: 300px;
    }

    .banner.columns div:nth-child(3) {
      margin-left: 300px;
    }

    .banner.columns div:nth-child(4) {
      margin-left: 230px;
    }

    .banner.columns div span.large {
      font-size: 3.0rem;
      font-weight: bold;
      color: #0A91A8;
      text-shadow: 0px 0px 0px;
    }

div.aankondigingen {
  background-color: #0A91A8;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
  margin: 20px auto;
}

  div.aankondigingen p {
    background-color: #0A91A8;
    color: #fff;
    opacity: 1;
    padding-left: 5px;
    float: left;
    font-weight: bolder;
    display: inline-block;
  }

  div.aankondigingen a, div.aankondigingen a:visited, div.aankondigingen a:active, div.aankondigingen a:hover {
    color: #fff;
  }

div#banners {
  padding: 0px;
  height: 120px;
  margin: 0px auto;
  float: none;
}

div.aankodigingen div#banners > div {
  margin: 0px 15px;
}

div.row.zones {
  margin: 10px auto;
}

  div.row.zones div.four:last-child {
    padding-right: 0px;
  }

div.columns p.titel {
  color: #fff;
  font-size: 1.8rem;
  padding: 3px 0px 3px 30px;
  background: url("images/iconsbar.png") 0px -30px no-repeat;
  height: 30px;
  line-height: 20px;
  margin: 0px 0px 0px 0px;
}

  div.columns p.titel a, div.columns p.titel a:visited, div.columns p.titel a:active, div.columns p.titel a:hover {
    color: #fff;
    text-decoration: none;
  }

div.agendacontainer {
  padding-left: 0px;
}

div.row.zones div.agendacontainer div.agenda {
  height: 255px;
}

div.agenda, div.newitems, div.frontpage {
  padding: 0px;
  background-color: #0A91A8;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
}

div.frontpage {
  margin-bottom: 10px;
  padding: 5px;
}

  div.frontpage p {
    color: #fff;
    margin: 0px;
  }

  div.frontpage a, div.frontpage a:visited, div.frontpage a:active, div.frontpage a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

div.agenda ul, div.newitems ul {
  margin-bottom: 0px;
}

div.columns.agenda p.titel {
  background-position: 0px -30px;
}

div.agenda li {
  padding-left: 7px;
  padding-right: 7px;
  height: 35px;
  line-height: 30px;
  color: #fff;
  margin: 0px 0px 10px 0px;
  border-top: 1px solid #fff;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  div.agenda li:first-child {
    border-top: 0px;
  }

  div.agenda li span {
    font-size: 1rem;
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 16px 8px 0px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

div.columns.newitems p.titel {
  background-position: 0px -120px;
}

div.newitems li {
  padding-left: 30px;
  background: url("images/iconsbar.png") no-repeat;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin: 0px;
  border-top: 1px solid #fff;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  div.newitems li:first-child {
    border-top: 0px;
  }

  div.newitems li span {
    font-size: 1rem;
    position: absolute;
    left: 0px;
    margin: 16px 0px 0px 30px;
  }

  div.newitems li.audio {
    background-position: 0px 0px;
    margin-bottom: 10px;
  }

  div.newitems li.artikel {
    background-position: 0px -90px;
  }

  div.newitems li.foto {
    background-position: 0px -60px;
  }

  div.newitems li.nieuws {
    background-position: 0px -120px;
  }

div.foto {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

div.fotocontainer {
  background-color: #0A91A8;
  display: none;
  overflow: hidden;
}

  div.fotocontainer img {
    /*height: 250px;*/
    margin: auto;
    display: block;
  }

div.row.map {
  margin-bottom: 20px;
}

.locatiessmall {
  display: none;
}

.locaties {
  background: url('images/locatiessmall.png') no-repeat center center;
  height: 255px;
}

  .locaties p {
    background-color: rgba(255,255,255,1);
    display: block;
    float: left;
    clear: left;
    margin: 3px 0px;
    padding: 2px;
    font-size: 1.2rem;
    font-weight: bold;
  }

    .locaties p:first-child {
      margin-top: 15px;
    }

    .locaties p:not(:first-child) {
      margin-top: 13px;
    }

    .locaties p:nth-child(3) {
      margin-top: -3px;
    }

  .locaties .marker {
    display: inline-block;
    background-color: #f00;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
  }

    .locaties .marker.baarn {
      top: 145px;
      margin-left: -355px;
    }

    .locaties .marker.bunschoten {
      top: 115px;
      margin-left: 335px;
    }

  .locaties .arrow {
    display: inline-block;
    position: absolute;
    left: 50%;
  }

    .locaties .arrow.baarn {
      background: url("images/arrow-baarn.png") no-repeat;
      height: 65px;
      width: 42px;
      top: 160px;
      margin-left: -370px;
    }

    .locaties .arrow.bunschoten {
      background: url("images/arrow-bunschoten.png") no-repeat;
      height: 43px;
      width: 50px;
      top: 127px;
      margin-left: 280px;
    }

div.container.footer {
  width: 100%;
  margin: 0px;
  padding: 0px;
  clear: both;
  min-height: 20px;
  color: #555;
  padding-top: 3px;
  padding-bottom: 3px;
}

  div.container.footer p {
    margin: 0px auto;
    text-align: center;
  }

  div.container.footer a, div.container.footer a:visited, div.container.footer a:active, div.container.footer a:hover {
    color: #555;
    text-decoration: none;
  }

    div.container.footer a.facebook {
      background: url("images/facebook-small.png") no-repeat;
      padding-left: 20px;
    }

    div.container.footer a.twitter {
      background: url("images/twitter-small.png") no-repeat 0px 3px;
      padding-left: 20px;
    }

div.submenucontainer {
  padding: 0px;
  margin-bottom: 40px;
}

div.leftcolumn {
  padding-left: 0px;
}

div.artikel {
  background-color: #fff;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
  margin-bottom: 20px;
  padding: 0px;
}

  div.artikel h3 {
    margin-top: 0px;
  }

    div.artikel h3 p.sort {
      display: inline-block;
      margin: 0px;
      padding: 0px;
      padding-left: 20px;
      float: right;
    }

    div.artikel h3 a, div.artikel h3 a:visited, div.artikel h3 a:active, div.artikel h3 a:hover {
      color: #fff;
    }

  div.artikel p {
    padding: 10px;
    margin: 0px;
    font-size: 1.3rem;
  }

  div.artikel ul {
    margin: 0px 20px 0px 20px;
  }

    div.artikel ul li {
      margin: 0px 0px 10px 0px;
      list-style-type: none;
      font-size: 1.3rem;
    }

blockquote {
  display: block;
  background-color: #FAF8E9;
  color: #0A91A8;
  border: solid 1px #fff;
  padding: 3px;
  margin: 5px;
}

  blockquote p {
    color: #0A91A8;
  }

  blockquote strong {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    color: #0A91A8;
  }

div.artikel h5 {
  font-size: 1.5rem;
  padding-left: 10px;
}

div.artikel h3 {
  font-size: 1.8rem;
  padding: 10px;
  background-color: #0A91A8;
  color: #fff;
}

ul.submenu li {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: #0A91A8;
  color: #fff;
  height: 28px;
  text-align: center;
  font-weight: bold;
  line-height: 28px;
  font-size: 1.5rem;
  margin: 2px 0px;
  float: left;
  border: solid 1px #0A91A8;
}

  ul.submenu li:hover {
    border: solid 1px #fff;
  }

  ul.submenu li a, ul.submenu li a:visited, ul.submenu li a:active, ul.submenu li a:hover {
    color: #fff;
  }

  ul.submenu li.active {
    background-color: #fff;
    border: solid 1px #fff;
    color: #0a91a8;
  }

/*div.photocontainer {
  width: 100%;
}*/

div.photo, div.photoalbum span, div.photoalbum div.photocontainer {
  width: 100%;
  background-color: #0A91A8;
}

div.twelve.photoalbum {
  margin-bottom: 50px;
}

  div.twelve.photoalbum div.photocontainer {
    height: inherit;
  }

div.photo {
  height: 165px;
  background: #0A91A8 url('') 4px 4px no-repeat;
  cursor: pointer;
  overflow: hidden;
}

  div.photo.orbit {
  }

/*div.photo img {
    display: none;
  }*/

div.photoalbum {
  margin-bottom: 20px;
}

  div.photoalbum span {
    color: #fff;
    display: inline-block;
    background-color: #0A91A8;
    padding: 4px 4px 4px 4px;
  }

  div.photoalbum div.photocontainer {
    height: 187px;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
  }

  div.photoalbum span a, div.photoalbum span a:visited, div.photoalbum span a:active, div.photoalbum span a:hover {
    color: #fff;
    text-decoration: none;
  }

div.six.columns div.agenda {
  margin-bottom: 20px;
  background-color: #fff;
  color: #0A91A8;
}

  div.six.columns div.agenda p.titel {
    color: #fff;
    background: #0A91A8 url("images/iconsbar.png") 0px -30px no-repeat;
    cursor: pointer;
  }

div.row.agendacontainer div.six.columns.inactive {
  float: right;
}

div.row.agendacontainer div.six.columns.active {
  float: left;
}

div.six.columns.inactive div.agenda ul {
  display: none;
}

div.six.columns div.agenda li {
  color: #0A91A8;
  border-top: 1px solid #0A91A8;
}

  div.six.columns div.agenda li span {
    width: 100%;
  }

div.row.agendacontainer div.columns {
  float: left;
}


div.agendaics {
  background-color: #0A91A8;
  color: #fff;
  margin: 20px 0px;
}

div.audioplayer {
  display: none;
  background-color: #0A91A8;
  color: #fff;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
  margin-bottom: 10px;
}

div.podcast {
  background-color: #0A91A8;
  color: #fff;
  margin: 20px 0px;
}

  div.podcast p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  div.podcast a, div.podcast a:visited, div.podcast a:active, div.podcast a:hover {
    color: #fff;
    text-decoration: underline;
  }

div.recordingpointer {
  display: none;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 13px solid #0A91A8;
  position: absolute;
  margin-top: 47px;
  margin-left: 10px;
  z-index: 500;
}

div.audioplayer a, div.audioplayer a:visited, div.audioplayer a:active, div.audioplayer a:hover {
  color: #fff;
  text-decoration: none;
  float: right;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: #0A91A8 url("images/iconsbar.png") 0px -270px no-repeat;
  line-height: 30px;
}

div.audioplayer div.play {
  width: 30px;
  height: 30px;
  background: #0A91A8 url("images/iconsbar.png") 0px -180px no-repeat;
  float: right;
  vertical-align: middle;
  cursor: pointer;
}

div.audioplayer div.pause {
  width: 30px;
  height: 30px;
  background: #0A91A8 url("images/iconsbar.png") 0px -210px no-repeat;
  float: right;
  vertical-align: middle;
  cursor: pointer;
}

div.audioplayer div.stop {
  width: 30px;
  height: 30px;
  background: #0A91A8 url("images/iconsbar.png") 0px -240px no-repeat;
  float: right;
  vertical-align: middle;
  display: none;
  cursor: pointer;
}

div.audioplayer div.progress {
  height: 10px;
  margin-top: 10px;
  width: 165px;
  background-color: #fff;
  border-radius: 2px;
  float: right;
  vertical-align: middle;
}

  div.audioplayer div.progress div.info {
    width: 100%;
    font-size: 1rem;
    color: #0A91a8;
    text-align: center;
    float: left;
  }

  div.audioplayer div.progress div.bar {
    width: 0px;
    height: 100%;
    background-color: #aaa;
  }

div.recordingfilter {
}

  div.recordingfilter .columns {
    background-color: #fff;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin: 0px 0px 10px 0px;
    float: right;
  }

  div.recordingfilter ul {
    margin: 0px;
    display: inline-block;
    margin-bottom: 5px;
  }

  div.recordingfilter li {
    display: list-item;
    list-style-type: none;
    margin: 0px;
    font-weight: bold;
  }

  div.recordingfilter p {
    margin-bottom: 0px;
  }

  div.recordingfilter span {
    cursor: pointer;
    border: solid 1px #0A91A8;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }

    div.recordingfilter span.checked {
      background-color: #0A91A8;
    }

div.recordingheader .columns {
  background-color: #fff;
  color: #0A91A8;
  margin-bottom: 15px;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
}

  div.recordingheader .columns p {
    margin: 0px;
  }

div.recordinggroup div.four:last-child {
  float: left;
}

div.recording {
  padding: 0px;
  margin-bottom: 15px;
  background-color: #0A91A8;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
}

  div.recording.active {
    border: 1px solid #fff;
  }

  div.recording ul {
    margin-bottom: 0px;
  }

  div.recording a, div.recording a:visited, div.recording a:active, div.recording a:hover {
    color: #fff;
    text-decoration: none;
  }

div.columns.recording p.titel {
  background-position: 0px -120px;
}

div.recording li {
  padding-left: 30px;
  background: url("images/iconsbar.png") 0px 5px no-repeat;
  height: 43px;
  line-height: 30px;
  color: #fff;
  margin: 0px;
  border-top: 1px solid #fff;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  div.recording li:first-child {
    border-top: 0px;
  }

  div.recording li span {
    font-size: 1rem;
    float: left;
    line-height: 18px;
    left: 0px;
    padding: 0px;
    margin: -7px 0px 0px 0px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


div.artikellist > div {
  padding: 0px;
}

  div.artikellist > div .four.columns {
    padding-right: 0px;
  }

div.artikellist div.artikel div {
  height: 290px;
  overflow: hidden;
}

  div.artikellist div.artikel div a, div.artikellist div.artikel div a:visited, div.artikellist div.artikel div a:active, div.artikellist div.artikel div a:hover {
    color: #0A91A8;
  }

div.artikelcontainer {
  padding: 0px;
}

div.internmenu {
}

  div.internmenu ul {
    background-color: #0A91A8;
    padding: 10px;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin-left: 30px;
    margin-right: 15px;
  }

  div.internmenu li {
    display: inline-block;
    list-style: none;
    padding-left: 30px;
    color: #fff;
    margin-right: 20px;
  }

  div.internmenu a, div.internmenu a:visited, div.internmenu a:active, div.internmenu a:hover {
    color: #fff;
  }

    div.internmenu a:hover {
      text-decoration: underline;
    }

  div.internmenu li#agenda {
    background: url("images/iconsbar.png") 0px -34px no-repeat;
  }

  div.internmenu li#mailer {
    background: url("images/iconsbar.png") 0px -364px no-repeat;
  }

  div.internmenu li#gebruiker {
    background: url("images/iconsbar.png") 0px -304px no-repeat;
  }

div.contactblad, div.bladen {
  padding-left: 0px;
}

div.bunschoten {
  padding-right: 0px;
}

  div.contactblad div.twelve, div.baarn div.twelve, div.bunschoten div.twelve, div.bladen div.twelve {
    background-color: #fff;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin-bottom: 20px;
    padding: 0px 0px;
  }

  div.contactblad h3, div.baarn h3, div.bunschoten h3, div.bladen h4 {
    font-size: 1.8rem;
    padding: 10px;
    background-color: #0A91A8;
    color: #fff;
    margin: 0px 0px 10px 0px;
  }

div.bladen h4 {
  font-size: 1.5rem;
  padding: 5px;
}

div.contactblad div.twelve li, div.baarn div.twelve li, div.bunschoten div.twelve li, div.bladen li {
  margin: 0px 10px;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

select.form {
  border: solid 1px #ccc;
  height: 32px;
}

textarea.message {
  height: 100px;
  font-family: Arial;
  font-size: 14px;
}

div.orbit-wrapper div.timer {
  display: none;
}

div.row.zones div.slideshowcontainer div.orbit-wrapper div.slider-nav,
div.row.aankondigingen div.orbit-wrapper div.slider-nav {
  display: none;
}

div.block {
  background-color: #fff;
  -moz-box-shadow: 0px 0px 5px 0px #aaa;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  box-shadow: 0px 0px 5px 0px #aaa;
  margin-bottom: 20px;
  padding: 0px;
  padding-bottom: 20px;
}

  div.block h3 {
    margin-top: 0px;
    font-size: 1.8rem;
    padding: 10px;
    background-color: #0A91A8;
    color: #fff;
  }

  div.block ul {
    margin: 0px 20px 0px 20px;
  }

  div.block form, div.block p {
    margin: 0px 20px 0px 20px;
  }

  div.block ul li {
    margin: 0px 0px 10px 0px;
    list-style-type: none;
    font-size: 1.3rem;
  }

li.user {
  height: 30px;
  border-bottom: solid 1px #ccc;
}

  li.user:last-child {
    border-bottom: 0px;
  }

  li.user form {
    display: inline-block;
    float: right;
    vertical-align: middle;
  }

  li.user span {
    vertical-align: middle;
  }

  li.user a {
    vertical-align: middle;
  }

@media only screen and (max-width: 1019px) {
  .header.columns {
    padding-right: 0px;
    background-size: 100px;
    width: 33.333%;
  }

    .header.columns a.logoplaceholder {
      height: 80px;
      width: 110px;
      margin-left: -20px;
    }

    .header.columns h2 {
      font-size: 2.5rem;
      margin-left: 100px;
      margin-top: 20px;
    }

    .header.columns h5 {
      font-size: 1.0rem;
      margin-left: 100px;
      margin-top: -4px;
    }

  div.columns.menu {
    width: 66.667%;
  }

    div.columns.menu li {
      margin: 0px 1px 10px 1px;
    }
}

@media only screen and (max-width: 900px) {

  .header.columns h2 {
    font-size: 2.2rem;
  }

  .header.columns h5 {
    font-size: 1.0rem;
  }
}

@media only screen and (max-width: 808px) {
  .container {
    padding: 0px 0px 40px;
  }

  .header.columns {
    padding-right: 0px;
    background-size: 75px;
    width: 33.333%;
  }

    .header.columns a.logoplaceholder {
      height: 60px;
      width: 85px;
      margin-left: -20px;
    }

    .header.columns h2 {
      font-size: 2.4rem;
      margin-left: 65px;
      margin-top: 20px;
    }

    .header.columns h5 {
      font-size: 1.0rem;
      margin-left: 65px;
      margin-top: -4px;
    }

  div.columns.menu {
    width: 66.667%;
  }

  div.columns.menu {
    padding-right: 0px;
  }

  .banner.columns div:first-child, .banner.columns div:nth-child(4) {
    margin-left: 120px;
  }

  .banner.columns div:nth-child(2),
  .banner.columns div:nth-child(3) {
    margin-left: 190px;
  }
}

/* One row layout */
@media only screen and (max-width: 767px) {
  div.row.zones div.slideshowcontainer, div.locaties, div.row.map {
    display: none;
  }

  div.recordinggroup div.four:last-child {
    float: none;
  }

  div.row.agendacontainer div.six.columns.inactive,
  div.row.agendacontainer div.columns,
  div.row.agendacontainer div.six.columns.active {
    float: none;
  }

  .header.columns {
    background-size: auto;
  }

    .header.columns a.logoplaceholder {
      height: 90px;
      width: 165px;
      margin-left: -20px;
    }

  .menu.columns .inloggen {
    top: -90px;
  }

  .menu.columns .gebruiker {
    top: -90px;
  }

  div.submenucontainer {
    margin-bottom: 20px;
  }

  div.menu.columns {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header.columns h2 {
    padding-left: 160px;
    margin-left: 0px;
    width: 100%;
    font-size: 3.8rem;
  }

  .header.columns h5 {
    padding-left: 160px;
    margin-left: 0px;
    width: 100%;
    font-size: 1.8rem;
  }

  div.menu.columns ul {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0A91A8;
    margin-top: 0px;
    width: 100%;
  }

  div.menu.columns li {
    display: inline-block;
    margin: 0px;
    border: 0px;
    margin-left: -4px;
    padding: 2px 15px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #0A91A8;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

    div.menu.columns li a {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    div.menu.columns li:first-child {
      margin-left: 0px;
    }

  .menu.columns li:hover, .menu.columns li.active {
    padding-bottom: 2px;
    margin-bottom: 0px;
    color: #0A91A8;
    background-color: #fff;
    border-bottom: 0px;
  }

    .menu.columns li:hover a, .menu.columns li.active a {
      color: #639CA5;
    }

  .banner {
    padding-top: 0px;
  }

    .banner.columns div {
      font-size: 2.0rem;
    }

      .banner.columns div span.large {
        font-size: 3.0rem;
      }

      .banner.columns div:first-child, .banner.columns div:nth-child(4) {
        margin-left: 65px;
      }

      .banner.columns div:nth-child(2),
      .banner.columns div:nth-child(3) {
        margin-left: 120px;
      }

  div.row.zones div.four.columns {
    margin-bottom: 20px;
    padding: 0px;
  }

  div.row.zones div.locatiecontainer {
    display: none;
  }

  div.row.zones div.four.columns div.twelve:last-child {
    margin-bottom: 0px;
  }

  div.row.zones {
    margin-bottom: 0px;
  }

  .locatiessmall {
    background-color: #fff;
    color: #0A91A8;
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
  }

    .locatiessmall p {
      font-size: 2.0rem;
    }

  div.row div.leftcolumn {
    padding-right: 0px;
  }

  div.artikellist div.artikel div {
    height: 90px;
  }

  div.row.artikellist div.four.columns {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 540px) {

  .menu-large-screen {
    display: none;
  }

  .menu-small-screen {
    display: block;
    padding: 2px 2px 2px 32px;
    background: #0A91A8 url("images/iconsbar.png") 0px -331px no-repeat;
    margin-bottom: 20px;
  }

  div.aankondigingen div.orbit-wrapper div.slider-nav, div.aankondigingen div.orbit-wrapper div.timer {
    display: none;
  }

  .header.columns {
    background-size: 150px 63px;
  }

    .header.columns a.logoplaceholder {
      height: 90px;
      width: 160px;
      margin-left: -20px;
    }

    .header.columns h2 {
      margin-top: 30px;
      font-size: 3.0rem;
      padding-left: 140px;
    }

    .header.columns h5 {
      font-size: 1.5rem;
      padding-left: 140px;
    }

  .banner {
    padding: 0px 5px 10px;
  }

    .banner.columns div {
      font-size: 1.6rem;
    }

      .banner.columns div span.large {
        font-size: 2.5rem;
      }

      .banner.columns div:first-child, .banner.columns div:nth-child(4) {
        margin-left: 65px;
      }

      .banner.columns div:nth-child(2),
      .banner.columns div:nth-child(3) {
        margin-left: 110px;
      }
}

@media only screen and (max-width: 370px) {
  .header.columns {
    background-size: 100px 42px;
    min-height: 100px;
    background-position-y: 40px;
  }

    .header.columns a.logoplaceholder {
      height: 50px;
      width: 110px;
      margin-left: -20px;
      margin-top: 35px;
    }

  .menu.columns .inloggen {
    top: -100px;
  }

  .menu.columns .gebruiker {
    top: -100px;
  }

  .header.columns h2 {
    margin-top: 40px;
    font-size: 2.8rem;
    padding-left: 100px;
  }

  .header.columns h5 {
    font-size: 1.3rem;
    margin-top: -5px;
    padding-left: 100px;
  }

  div.row.zones div.four.columns {
    margin-bottom: 10px;
  }

  .banner.columns div {
    font-size: 1.6rem;
  }

    .banner.columns div span.large {
      font-size: 2.3rem;
    }

    .banner.columns div:first-child, .banner.columns div:nth-child(4) {
      margin-left: 5px;
    }

    .banner.columns div:nth-child(2),
    .banner.columns div:nth-child(3) {
      margin-left: 50px;
    }

  .locatiessmall p {
    font-size: 1.4rem;
  }

  div.container.footer p {
    margin: 0px auto;
    width: auto;
  }
}

div.banneritem {
  background: #0A91A8;
  height: 120px;
  width: 100%;
  margin: 0px;
}

  div.banneritem p:first-child {
    width: 100%;
    margin: 1% auto auto auto;
    text-align: center;
    font-size: 3rem;
  }

  div.banneritem p:last-child {
    width: 100%;
    margin: auto auto auto auto;
    text-align: center;
  }

@media only screen and (max-width: 767px) {
  div.banneritem p:first-child {
    margin: 0px auto auto auto;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 540px) {
  div.banneritem p:first-child {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 370px) {
  div.banneritem p:first-child {
    margin: 0px auto auto auto;
    font-size: 1.3rem;
  }

  div.banneritem p:last-child {
    margin: 5px auto auto auto;
    font-size: 0.9rem;
  }
}
