@{
    ViewBag.Title = "Onbekende pagina";
}

<div class="row">
  <div class="twelve columns error">
    <p>De opgevraagde pagina is onbekend. Misschien heb je een typefout gemaakt? Weet je zeker dat het aan ons ligt? <a href="@Url.Action("Contact", "Index")">Stuur dan een mailtje</a>.</p>
  </div>
</div>