@{
    ViewBag.Title = "Er ging iets mis";
}

<div class="row">
  <div class="twelve columns error">
    <p>Er ging iets mis tijdens het opvragen van de pagina, sorry daarvoor... We proberen het probleem zo snel mogelijk op te lossen. Duurt het te lang? <a href="@Url.Action("Contact", "Index")">Stuur dan een mailtje</a>.</p>
  </div>
</div>